<h1>Latest Entries</h1>

<a href="/create"> Create New Entry </a>


{{#each entries}}

<div class="media">{{title}} {{date}}
    <div class="media-body">
        <h4 class="media-heading">{{content}}</h4>
    </div>
</div>

<form method="POST" action="deleteEntry/{{id}}">
    <button type="submit">Delete</button>
</form>

<a href="updateEntry/{{id}}">Update Entry</a> 

{{/each}}
