<h1>Latest Entries</h1>

<a href="/create"> Create New Entry </a>


{{#each entries}}
<div class="media">{{title}} {{date}}
  <div class="media-left media-middle">

  </div>
  <div class="media-body">
    <h4 class="media-heading">{{content}}</h4>
  </div>
</div>
<form method="POST" action="deleteEntry/{{id}}">
  <button type="submit">Delete</button>
</form>
<form method="PUT" action="updateEntrye/{{id}}">
  <button type="submit">Update</button>
</form> 
{{/each}}
