<h1>Latest Entries</h1>

<a href="/create"> Create New Entry </a>


{{#each entries}}

<div>
<div>
    <h1>{{title}}</h1>
    <h3>{{date}}</h3>
    <h4>{{content}}</h4>
</div>

<form method="POST" action="deleteEntry/{{id}}">
    <button type="submit">Delete</button>
</form>

<a href="updateEntry/{{id}}">Update Entry</a>

{{/each}}
